## Project 2 Dataset 2

In [1]:
#import numpy and pandas, and DataFrame / Series
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import datetime

In [2]:
#Read data from file 'dataset2.csv' 
data = pd.read_csv("C:/Users/KATERINE/Documents/cuny classes/DATA ACQ AND MANAGEM/week 6/dataset2.csv", encoding='latin-1')
df = pd.DataFrame(data, columns= ['App_Index', 'Job_Type', 'Application_Date', 'Status', 'Interview_Scheduled', 'Resume_check', 'Background_check', 'Manager_Interview_Scheduled', 'Technical_Interview', 'HR_Interview', 'Offer_or_Reject', 'Email','Last_Updated'])
print (df)

   App_Index        Job_Type Application_Date   Status Interview_Scheduled  \
0          1           sells       12/11/2018  pending                  no
1          2         finance         1/5/2018   closed                 yes
2          3  administration         8/8/2018   closed                 NaN
3          4       assistant        11/7/2018   closed                 yes
4          5          driver         7/8/2018   closed                 yes
5          6         manager        6/12/2018   closed                 yes
6          7           sells         2/2/2018   closed                 yes
7          8           sells        9/15/2018   closed                 NaN
8          9           sells        9/17/2018   closed                 NaN
9         10           sells       12/30/2018  pending                  no

  Resume_check Background_check Manager_Interview_Scheduled  \
0           no               no                          no
1          yes               no                         yes
2          yes              NaN                         yes
3          yes              NaN                         yes
4          yes              yes                         yes
5          yes              yes                         yes
6          yes              yes                         yes
7          yes              yes                         yes
8          yes              yes                         NaN
9          yes               no                          no

  Technical_Interview HR_Interview Offer_or_Reject          Email Last_Updated
0                  no           no             NaN  123@gmail.com   12/31/2018
1                 yes          yes          reject  234@gmail.com   12/31/2018
2                 yes          yes           offer  567@gmail.com   12/31/2018
3                 yes          yes           offer  789@gmail.com   12/31/2018
4                 yes          yes           offer  abc@gmail.com   12/31/2018
5                 yes          yes          reject  def@gmail.com   12/31/2018
6                 yes          yes           offer  ghi@gmail.com   12/31/2018
7                 yes          yes          reject  jkl@gmail.com   12/31/2018
8                 yes          yes           offer  mno@gmail.com   12/31/2018
9                  no          NaN             NaN  pqr@gmail.com   12/31/2018

*For the analysis, we can review the month where job applicants submitted the application have a high hiring rate.  In other words, the months were there was an offer*

In [4]:
#Drop the rows where hiring status (offer_or_reject is missing)
data.dropna(subset=['Application_Date','Offer_or_Reject'], how='any').shape

(8, 13)

In [7]:
data.sort_values('Offer_or_Reject')

,App_Index,Job_Type,Application_Date,Status,Interview_Scheduled,Resume_check,Background_check,Manager_Interview_Scheduled,Technical_Interview,HR_Interview,Offer_or_Reject,Email,Last_Updated
2,3,administration,8/8/2018,closed,NaN,yes,NaN,yes,yes,yes,offer,567@gmail.com,12/31/2018
3,4,assistant,11/7/2018,closed,yes,yes,NaN,yes,yes,yes,offer,789@gmail.com,12/31/2018
4,5,driver,7/8/2018,closed,yes,yes,yes,yes,yes,yes,offer,abc@gmail.com,12/31/2018
6,7,sells,2/2/2018,closed,yes,yes,yes,yes,yes,yes,offer,ghi@gmail.com,12/31/2018
8,9,sells,9/17/2018,closed,NaN,yes,yes,NaN,yes,yes,offer,mno@gmail.com,12/31/2018
1,2,finance,1/5/2018,closed,yes,yes,no,yes,yes,yes,reject,234@gmail.com,12/31/2018
5,6,manager,6/12/2018,closed,yes,yes,yes,yes,yes,yes,reject,def@gmail.com,12/31/2018
7,8,sells,9/15/2018,closed,NaN,yes,yes,yes,yes,yes,reject,jkl@gmail.com,12/31/2018
0,1,sells,12/11/2018,pending,no,no,no,no,no,no,NaN,123@gmail.com,12/31/2018
9,10,sells,12/30/2018,pending,no,yes,no,no,no,NaN,NaN,pqr@gmail.com,12/31/2018

In [15]:
#Showing the dates were there was an offer
data[data.Offer_or_Reject=='offer']

,App_Index,Job_Type,Application_Date,Status,Interview_Scheduled,Resume_check,Background_check,Manager_Interview_Scheduled,Technical_Interview,HR_Interview,Offer_or_Reject,Email,Last_Updated
2,3,administration,8/8/2018,closed,NaN,yes,NaN,yes,yes,yes,offer,567@gmail.com,12/31/2018
3,4,assistant,11/7/2018,closed,yes,yes,NaN,yes,yes,yes,offer,789@gmail.com,12/31/2018
4,5,driver,7/8/2018,closed,yes,yes,yes,yes,yes,yes,offer,abc@gmail.com,12/31/2018
6,7,sells,2/2/2018,closed,yes,yes,yes,yes,yes,yes,offer,ghi@gmail.com,12/31/2018
8,9,sells,9/17/2018,closed,NaN,yes,yes,NaN,yes,yes,offer,mno@gmail.com,12/31/2018

*The months were there was an offer were Feb, July, Aug, Sept and Nov*